/* App.css */

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 79%;
  margin-left: 45%;
  margin: 24px 0px 0px 117px;
  /* margin-right: 92%; */
  left: 5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px 158px 10px 158px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
 
}

.navbar {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  background-color: transparent;
}

.navbar li {
  display: inline-flex;
  background-color: transparent;
  padding-right: 2%;
}

.navbar a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.logo p {
  font-size: large;
  margin-left: -300px;
  margin-top: 0;
  background-color: transparent;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  margin-top: 8%;
  margin-left: 10%;
}

.HomePageText {
  font-style: italic;
  font-weight: bold;
  /* font-size: 40px; */
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}

.aboutus,
.contact,
.product {
  background-color: transparent;
}

.homepage {
  background-color: transparent;
}

.HomePageText p {
  font-size: small;
  font-weight: lighter;
  font-style: normal;
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  text-align: left;
}

.cta {
  background-color: transparent;
  color: rgb(241, 239, 236);
  font-size: small;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid rgb(241, 239, 236);
  border-radius: 5px;
  transition: all ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cta:hover {
  background-color: white;
  color: black;
  font-style: normal;
}

.homePage_gif {
  width: 60%;
  background-color: transparent;
}

.card {
  height: 27%;
  backdrop-filter: blur(25px) saturate(145%);
  -webkit-backdrop-filter: blur(25px) saturate(145%);
  background-color: rgba(206, 8, 8, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  -webkit-box-shadow: 0px 11px 63px 23px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 11px 63px 23px rgba(222, 222, 222, 1);
  box-shadow: 0px 0px 74px 11px rgba(222, 222, 222, 1);
}

.imageINtwo {
  background-color: transparent;
}