/* App.css */

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 79%;
  margin-left: 45%;
  margin: 24px 0px 200px 117px;
  /* margin-right: 92%; */
  left: 5%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px 158px 10px 158px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */
}

.navbar {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  background-color: transparent;

}

.navbar li {
  display: inline-flex;
  background-color: transparent;
  padding-right: 2%;
}

.navbar a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.navbar a:a {
  background-color: rgb(236, 236, 23)
}

.logo p {
  font-size: large;
  margin-left: -300px;
  margin-top: 0;
  color: black;
  background-color: transparent;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  margin-top: 8%;
  margin-left: 10%;

}

.HomePageText {
  font-style: italic;
  font-weight: bold;
  /* font-size: 40px; */
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}

.aboutus,
.contact,
.product {
  background-color: transparent;
}

.homepage {
  background-color: transparent;


}

.HomePageText p {
  font-size: small;
  font-weight: lighter;
  font-style: normal;
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  text-align: left;
}


.cta {
  background-color: transparent;
  color: rgb(241, 239, 236);
  font-size: small;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid rgb(241, 239, 236);
  border-radius: 5px 20px 5px 20px;
  transition: all ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cta:hover {
  background-color: white;
  color: black;
  font-style: normal;
}

.homePage_gif {
  width: 60%;
  background-color: transparent;
}

.card {
  height: 27%;
  backdrop-filter: blur(25px) saturate(145%);
  -webkit-backdrop-filter: blur(25px) saturate(145%);
  background-color: rgba(206, 8, 8, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  -webkit-box-shadow: 0px 11px 63px 23px rgba(222, 222, 222, 1);
  -moz-box-shadow: 0px 11px 63px 23px rgba(222, 222, 222, 1);
  box-shadow: 0px 0px 74px 11px rgba(222, 222, 222, 1);
}

.imageINtwo {
  background-color: transparent;
  height: 350px;
  width: 350px;
}

.about_us p {
  font-style: italic;
  font-weight: bold;
  margin-top: -1%;
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}

.about_us a {
  background-color: transparent;
  color: rgb(241, 239, 236);
  font-size: small;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid rgb(241, 239, 236);
  border-radius: 5px 20px 5px 20px;
  transition: transform .2s;
}

.about_us a:hover {
  background-color: white;
  color: black;
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
  font-style: normal;
}

.HomePageCards {
  display: flex;
}

.HomePageCard {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 20%;
  margin-left: 45%;
  margin: 24px 0px 500px 117px;
  left: 5%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.HomePageCard .home_card_heading {
  font-size: large;
  font-weight: bold;
  color: white;
}

.home_card_body {
  margin-left: 5%;
  color: white;
}

.contact-form {
  margin-left: 40%;
}

.contact_page_item {
  margin-left: -35%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* Adjust the gap between grid items */
}

.contact_items {
  margin-top: 10px;
  /* Adjust the top margin for better spacing */
}

.contact_us_label {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 5px;
  /* Add some space between label and input */
}

.contact_us_input {
  height: 28px;
  margin-top: 3%;
  width: 90%;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 10%;
}

.contact_us_input:focus {
  border-radius: 0%;
  outline: none;
  background-color: var(--lgtr-blue);
}

.contact_us_input::placeholder {
  color: rgb(190, 188, 188);
}

/* Responsive */

@media screen and (max-width: 376px) {

  /* Media query for screens smaller than 768px */


  .HomePageCard {
    width: 100%;
    /* Full width for small screens */
  }

  .logo p {
    font-size: large;
    margin-left: -156px;
    margin-top: 0;
    color: black;
    background-color: transparent;
  }

  .grid-container {
    grid-template-rows: 2fr;
  }

  .imageINtwo {
    background-color: transparent;
    height: 100px;
    width: 100px;
  }

  .box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 175%;
    margin-left: 45%;
    margin: 23px 0px 200px 28px;
    /* margin-right: 92%; */
    left: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 158px 10px 158px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(10px);
  }

  .HomePageCards {
    display: flex;
    flex-direction: column;
  }

  .HomePageCard {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 45%;
    margin: 2px 152px;
    left: 5%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}