/* App.css */
.box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  ;
  border-radius: 10px;
  /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */
}

.navbar {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  background-color: rgb(255, 255, 255, 0.2);
  ;
}

.navbar li {
  display: inline-flex;
  background-color: transparent;
  padding-right: 2%;
}

.navbar a {
  text-decoration: none;
  background-color: transparent;
}

.logo p {
  font-size: large;
  margin-left: -300px;
  margin-top: 0;
  background-color: transparent;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  margin-top: 8%;
  margin-left: 10%;
}

.HomePageText {
  font-style: italic;
  font-weight: bold;
  /* font-size: 40px; */
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}
.aboutus,.contact,.product {
  background-color: transparent;
}
.homepage{
  background-color: transparent;
}
.HomePageText p {
  font-size: small;
  font-weight: lighter;
  font-style: normal;
  background-color: transparent;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  text-align: left;
}

.cta {
  background-color: transparent;
  color: green;
  font-size: small;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid green;
  border-radius: 5px;
}

.cta:hover {
  background-color: #3e8e41;
  color: white;
  font-style: normal;
}
.homePage_gif{
  width: 60% ;
  background-color: transparent;
}