body {
  background: url('WhatsApp Image 2024-01-04 at 5.19.26 PM.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; 
  padding: 0;
}

@media screen and (max-width: 376px) {
  body {
    background: url('comp_1.gif') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    scroll-behavior: smooth;
  }
}
